.catalog {
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__show-hide {
    font-size: 18px;
    color: #fff;
    padding: 10px 19px;
    border-radius: 35px;
    margin: 0 auto;
    transition: 0.3s all linear;
    background: rgba($color: #000000, $alpha: 0.3);

    &:hover {
      background: rgba($color: #000000, $alpha: 0.5);
    }
  }
}
