.footer {
  padding: 15px 0;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.6);
  background: rgba(242, 140, 143, 1);
  flex: 0 0 auto;

  &__description {
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;

    @include phone {
      font-size: 16px;
    }

    @include tablets {
      font-size: 18px;
    }
  }
}
