.logo {
  &__link {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1.1px;

    @include tablets {
      font-size: 18px;
    }

    @include desktops {
      font-size: 20px;
    }

    &:hover {
      color: rgba($color: #000000, $alpha: 0.6);
    }
  }
}
