@import './import/_mixins';
@import './import/_variables';

@import './components/_header';
@import './components/_logo';
@import './components/_main-content';
@import './components/_footer';
@import './components/_catalog';
@import './components/_goods';
@import './components/_preloader';
@import './components/_cart';
@import './components/_modal-cart';

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  @include font();
  margin: 0;
  padding: 0;
  height: 100%;
  color: #fff;
  background-image: linear-gradient(
      62deg,
      rgba(1, 95, 183, 0.9732216701223994) 13%,
      rgba(255, 122, 151, 0.5) 4%
    ),
    linear-gradient(
      44deg,
      rgba(0, 43, 99, 0.07922090238615942) 39%,
      rgba(242, 140, 143, 0.5) 18%
    ),
    linear-gradient(
      118deg,
      rgba(84, 202, 242, 0.03152997265339608) 40%,
      rgba(247, 155, 187, 0.5) 54%
    ),
    linear-gradient(
      58deg,
      rgba(90, 90, 237, 0.16144443572260592) 83%,
      rgba(249, 156, 142, 0.5) 23%
    );
  background-blend-mode: normal, lighten, multiply, hard-light;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $light-grey;
  }

  &::-webkit-scrollbar-thumb {
    background: #cf7a88;
    border-radius: 5px;
  }

  &.is-hidden {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  text-transform: uppercase;
  outline: none;
  transition: 0.3s background ease-out;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

section,
.section {
  position: relative;
  padding: 20px 0;

  @include phone {
    padding: 25px 0;
  }

  @include tablets {
    padding: 30px 0;
  }

  @include desktops {
    padding: 40px 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 100%;
  flex: 0 0 auto;
  position: relative;
  padding: 0 10px;
  margin: 0 auto;

  @include phone {
    padding: 0 15px;
  }
  @include tablets {
    padding: 0 20px;
  }
  @include desktops {
    padding: 0 20px;
    max-width: 1100px;
  }
}

.title {
  font-size: 32px;
  margin-bottom: 40px;
}

canvas {
  display: none;
}
